/* General styles for all screen sizes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* padding and borders in element sizing */
}

.App {
  text-align: center;
  background-color: #f300a3;
}

.App-header {
  background-color: #3ab4ff;
}

.App-logo {
  pointer-events: none;
}

.Barbie-logo {
  width: 200px;
}

.App-line {
  border-top: 1px solid #f300a3;
}

.App-body {
  width: 80%;
  margin: 0 auto;
}

.App-heading {
  color: white;
  margin: 30px 0;
}

.character-app-container {
  margin: 25px auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.59);
  border-radius: 16px;
  box-shadow: 11px 14px 12px -4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.9px);
  -webkit-backdrop-filter: blur(2.9px);
  border: 1px solid rgba(255, 255, 255, 0.41);
}

.character-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-image {
  object-fit: cover;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  border: 3px solid white;
}

.character-name {
  height: 50px;
  color: #f300a3;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.078);
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

.start-button {
  border: none;
  color: white;
  margin: 0 auto 25px auto;
  background-color: #f300a3;
  padding: 20px 50px;
  font-size: 20px;
  border-radius: 30px;
  width: 400px;
  border: 2px solid rgba(255, 255, 255, 0.59);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.start-button:hover {
  background-color: #ff71c5;
}

.answer-button {
  border: none;
  color: white;
  margin: 0 auto 25px auto;
  background-color: #f300a3;
  padding: 10px 30px;
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 30px;
  width: 200px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.answer-button:hover {
  background-color: #ff71c5;
}

.answer-button:active {
  background-color: #ab066e;
}

.answer-button.clicked {
  background-color: #ab066e;
}

.test-container {
  margin: 25px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.59);
  border-radius: 16px;
  box-shadow: 11px 14px 12px -4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.9px);
  -webkit-backdrop-filter: blur(2.9px);
  border: 1px solid rgba(255, 255, 255, 0.41);
}

.test-container h2 {
  color: #f300a3;
  font-size: 24px;
  margin: 20px 0;
}

@media (max-width: 768px) {
  .App-body {
    width: 100%;
    height: auto;
    padding: 0 0 50px 0;
  }

  .character-app-container {
    width: 80%;
    flex-direction: column;
    align-items: center;
    margin: 25px auto 10px auto;
  }
  .character-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    border: 2px solid white;
  }

  .character-name {
    font-size: 16px;
    margin-top: 10px;
  }

  .start-button {
    width: 100%;
    padding: 15px 30px;
    font-size: 18px;
  }

  .test-container {
    width: 90%;
    padding: 15px;
    margin-bottom: 20px;
  }

  .test-container h2 {
    font-size: 20px;
  }

  .test-container .answer-button {
    width: 100%;
    max-width: 180px;
    padding: 8px 15px;
    font-size: 0.85rem;
  }

  .footer-container {
    margin-top: 30px;
  }

  .footer-text {
    margin-bottom: 5px;
  }
}

.footer-container {
  background-color: #3ab4ff;
  color: white;
  height: 100px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.footer-text {
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  gap: 10px;
}
.icon {
  color: white;
}
