.App {
  text-align: center;
  background-color: #fcf1f3;
}

.App-header {
  padding: 20px;
}

.App-logo {
  pointer-events: none;
}

.Barbie-logo {
  width: 200px;
}

.App-line {
  border-top: 1px solid #f300a3; /* This sets the line color and style */
  margin: 10px 0; /* Adjust the margin to control the spacing above and below the line */
}

.App-body {
  height: 100vh; /* Set the height to 100% of the viewport's height */
  padding: 20px;
}

.character-app-container {
  border: 1px solid #f300a3;
}
.character-image {
  object-fit: cover;
  width: 400px;
}
.start-button {
  background-color: #f300a3;
  padding: 20px 35px 20px 35px;
  font-size: larger;
  border-radius: 30px;
}
